fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
aiogram
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pgvector
httpx
pydantic-settings
slowapi
celery[redis]
redis
sentence-transformers
exa_py
gunicorn
openai
kafka-python==2.0.2
prometheus-client==0.21.1
sentry-sdk==2.22.0
